<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> ${{event?.price}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <h3>Sessions</h3>
    </div>
    <div class="col-md-7" style="margin-bottom:5px;">
      <button class="btn-group btn-group-sm">
        <button class="btn btn-default" [class.active]="sortBy === 'name'" (click)="sortBy = 'name'">Sort By Name</button>
        <button class="btn btn-default" [class.active]="sortBy === 'votes'" (click)="sortBy = 'votes'">Sort By Votes</button>
      </button>
      <button class="btn-group btn-group-sm">
        <button class="btn btn-default" [class.active]="filterBy === 'all'" (click)="filterBy = 'all'">All</button>
        <button class="btn btn-default" [class.active]="filterBy === 'beginner'" (click)="filterBy ='beginner'">Beginner</button>
        <button class="btn btn-default" [class.active]="filterBy === 'intermediate'" (click)="filterBy = 'intermediate'">Intermediate</button>
        <button class="btn btn-default" [class.active]="filterBy === 'advanced'" (click)="filterBy = 'advanced'">Advanced</button>
      </button>
    </div>
    <div class="col-md-2">
      <a (click)="addSession()">Add Session</a>
    </div>
  </div>
  <app-list-session *ngIf="!addMode" [all_session]="event?.sessions" [filterBy]="filterBy" [sortBy]="sortBy"></app-list-session>
  <app-create-session *ngIf="addMode" (add_sessions)="new_sessions($event)"  (cancelAddSession)="can_session()"></app-create-session>
</div>
